<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FMSEntities" connectionString="metadata=res://*/FMSModel.csdl|res://*/FMSModel.ssdl|res://*/FMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VISPLMM\SQLEXPRESS;initial catalog=FMSdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>